<% layout("/layouts/boilerplate") %>

<h1 class="mb-5">Seeding Projects</h1>
<div class="row">
  <% for(let project of projects) { %>
  <div class="col-xl-4 col-lg-6 mb-5">
    <div class="card shadow">
      <img src="<%= project.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="d-flex justify-content-between text-muted">
          <p>
            PHP <%= Number(project.targetAmount/2).toLocaleString("en-PH",
            {minimumFractionDigits: 2, maximumFractionDigits: 2}) %>
          </p>
          <p>50%</p>
          <p>60 days to go</p>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <h5 class="card-title">
          <a
            class="text-danger stretched-link"
            href="/projects/<%= project._id %>"
            ><%= project.title %></a
          >
        </h5>
        <p class="card-text"><%= project.description.substring(0, 50) %>...</p>
        <p class="card-text"><small class="text-muted">By User</small></p>
      </div>
    </div>
  </div>
  <% } %>
</div>
