<% layout("/layouts/boilerplate") %>

<section id="seeding-projects" class="py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="font-weight-bold mb-3">Featured Projects</h2>
      <p class="lead">
        Phasellus volutpat lectus nibh, vitae iaculis arcu egestas ac. Donec
        efficitur risus at massa aliquam.
      </p>
      <% if (projects.length < 1) { %>
      <p class="lead mb-5">No available projects</p>
      <% } %>
    </div>
    <div class="row">
      <% for(let project of projects) { %>
      <div class="col-xl-4 col-lg-6 mb-5">
        <div class="card shadow project-item h-100">
          <img src="<%= project.images.length ? project.images[0].url : "" %>"
          class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text text-muted">
              by
              <span class="text-capitalize text-danger"
                ><%= project.author.username %></span
              >
            </p>
            <h5 class="card-title font-weight-bold">
              <a
                class="text-danger stretched-link"
                href="/projects/<%= project._id %>"
                ><%= project.title %></a
              >
            </h5>
            <% let amountRaised = 0; %> <% for (let donation of
            project.donations) { %> <% amountRaised += donation.amount %> <% }
            %>
            <div class="progress mb-3">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="
                  width: <%=
                    Math.floor((amountRaised / project.targetAmount) * 100) %>%;
                "
                aria-valuenow="<%= Math.floor((amountRaised / project.targetAmount) * 100) %>"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <p class="font-weight-bold mb-0">
                  <%= new Intl.NumberFormat('en-US', { style: 'currency',
                  currency: 'PHP' }).format(amountRaised) %>
                </p>
                <p class="text-muted mb-0 target-amount">
                  raised of <%= new Intl.NumberFormat('en-US', { style:
                  'currency', currency: 'PHP' }).format(project.targetAmount) %>
                  goal
                </p>
              </div>

              <p class="font-weight-bold">
                <%= Math.floor((amountRaised / project.targetAmount) * 100) %>%
              </p>
            </div>
            <hr />
            <p class="text-muted mb-0">
              <i class="far fa-clock text-danger"></i>
              <%= dayjs(project.targetDate).toNow(true) %> left
            </p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<section id="burgeoning-projects" class="container-fluid">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="font-weight-bold mb-3 text-white">Funded Projects</h2>
      <p class="lead text-white">
        Phasellus volutpat lectus nibh, vitae iaculis arcu egestas ac. Donec
        efficitur risus at massa aliquam.
      </p>
      <% if (burgeoningProjects.length < 1) { %>
      <p class="lead text-white mb-5">No available projects</p>
      <% } %>
    </div>
    <div class="row">
      <% for(let project of burgeoningProjects) { %>
      <div class="col-xl-4 col-lg-6 mb-5">
        <div class="card shadow project-item border-0 h-100">
          <img src="<%= project.images.length ? project.images[0].url : "" %>"
          class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              by
              <span class="text-capitalize text-danger"
                ><%= project.author.username %></span
              >
            </p>
            <h5 class="card-title font-weight-bold">
              <a
                class="text-danger stretched-link"
                href="/projects/<%= project._id %>"
                ><%= project.title %></a
              >
            </h5>
            <% let amountRaised = 0; %><% for (let donation of
            project.donations) { %><% amountRaised += donation.amount %><% } %>
            <div class="progress mb-3">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="
                  width: <%=
                    Math.floor((amountRaised / project.targetAmount) * 100) %>%;
                "
                aria-valuenow="<%= Math.floor((amountRaised / project.targetAmount) * 100) %>"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <p class="font-weight-bold mb-0">
                  <%= new Intl.NumberFormat('en-US', { style: 'currency',
                  currency: 'PHP' }).format(amountRaised) %>
                </p>
                <p class="text-muted mb-0 target-amount">
                  raised of <%= new Intl.NumberFormat('en-US', { style:
                  'currency', currency: 'PHP' }).format(project.targetAmount) %>
                  goal
                </p>
              </div>
              <p class="font-weight-bold">
                <%= Math.floor((amountRaised / project.targetAmount) * 100) %>%
              </p>
            </div>

            <hr />
            <p class="text-muted mb-0">
              <i class="far fa-clock text-danger"></i> Concluded
            </p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
